@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

$primary-color: #034489;
$secondary-color: #287233;
$delete-color: #9ca3a9;
$anotherdelete-color: #a80101;
$background-color: #a5d9fd;
$background-color-hover: #007fff;
$font-color-white: white;
$padding-y-custom: 1rem;
$padding-x-custom: 1rem;

body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
// NN    NN  AAAAA   VV     VV  BBBBB    AAAAA   RRRRR
// NNN   NN AA   AA  VV     VV  BB   B  AA   AA  RR  RR
// NNN   NN AAAAAAA  VV     VV  BBBBBB  AAAAAAA  RRRRR
// NN N  NN AA   AA   VV   VV   BB   BB AA   AA  RR  RR
// NN  N NN AA   AA    VVVVV    BBBBBB  AA   AA  RR   RR

.divNav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid $primary-color;
}
.customNavbar {
  max-width: 1600px;
  padding-inline: 30px;
}

.nav-link-custom {
  font-size: 1.5rem;
  margin-right: 20px;
  color: $primary-color;
  font-weight: 600;
  &:hover {
    color: $background-color-hover;
  }
  &:active {
    color: $background-color-hover;
  }
}
.nav-link {
  color: $primary-color;
  &:hover {
    color: $background-color-hover;
  }
}
.navdropdown-item-custom {
  font-size: 1.5rem;
  color: $primary-color;
}

// HHH   HHH  OOOOOOO  MM   MM  EEEEEEE  PPPP    AA    GGGGG  EEEEEEE
// HHH   HHH OO     OO MMM MMM  EE       PP  PP AAAAA  GG     EE
// HHHHHHHHH OO     OO MM M MM  EEEEE    PPPP  AA   AA GG GGG EEEEE
// HHH   HHH OO     OO MM   MM  EE       PP    AAAAAAA GG  GG EE
// HHH   HHH  OOOOOOO  MM   MM  EEEEEEE  PP    AA   AA  GGGGG EEEEEEE

//SEARCHBAR

.trovaLaTuaCasa {
  background-color: rgba(41, 49, 51, 0.8);
  border-radius: 25px;
  margin-block: 20vh;
  padding: 5vh;
  transition: opacity 1s ease;

  .titoloSearch {
    color: $font-color-white;
    font-size: 55px;
    font-weight: 700;
  }

  .sottotitoloSearch {
    font-size: 18px;
  }

  &:hover {
    opacity: 0;
  }
}

.bottoneSearchbarVenAff {
  border: none;
  background-color: $background-color;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  margin: 0 5px;

  &:hover {
    background-color: $background-color-hover;
  }

  &.active {
    background-color: $primary-color;
    color: $font-color-white;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $primary-color;
      position: absolute;
      bottom: -10px;
      left: calc(50% - 10px);
    }
  }
}

.areaRicerca {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 50px;
  position: relative;
  z-index: 10;
  margin-bottom: 5vh;
  margin-top: 20px;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    z-index: -1;
  }
}

.customFormControl {
  padding: $padding-y-custom $padding-x-custom;
  font-size: 1rem;
  height: auto;
  min-height: 50px;
}

.searchCustomButton {
  background-color: $primary-color;
  color: $font-color-white;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  height: auto;
  min-height: 50px;
  padding: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $background-color-hover;
  }
}

.custom-dropdown .btn {
  height: 50px;
  width: 100%;
  min-width: 250px;
  padding: 1.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dropdown .dropdown-menu {
  width: 100%;
  .dropdown-item {
    padding: 0.75rem 1rem;
  }
}

// CAROSELLO

.homeCarouselButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

// HOME CAROUSEL CARDS

.home-carousel-card {
  margin: 0 20px;
  padding: 8px;
}

.homeCarouselCardButton {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

// TEAM CAROUSEL CARDS

.team-carousel-card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 30px;
  height: auto;
  padding: 8px;
}

.team-carousel-card .card-img-top {
  width: 100%;
  object-fit: cover;
}

// FOOTER
.footer-bg {
  background-color: #2e3c55;
  color: $font-color-white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.underFooter-text {
  text-align: center;
}
.underFooter {
  background-color: #2a364b;
  color: $font-color-white;
  padding-top: 20px;
}
footer {
  ul {
    list-style: none;
    padding-left: 0;
  }

  ul li {
    padding-bottom: 5px;
  }
}

// CCCCC  EEEEE  RRRRR   CCCC   A    CCCCC   A    SSSSS   A   PPPPP    A   GGGGG EEEEE
// C      E      R    R C      A A   C      A A   S      A A  P    P  A A  G     E
// C      EEEE   RRRRR  C     AAAAA  C     AAAAA   SSS  AAAAA PPPPPP AAAAA G  GG EEEE
// C      E      R  R   C     A   A  C     A   A      S A   A P      A   A G   G E
// CCCCC  EEEEE  R   R   CCCC A   A  CCCCC A   A SSSSS  A   A P      A   A  GGGG EEEEE

.bottoneCercaCasaVenAff {
  border: none;
  background-color: $background-color;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  margin: 0 5px;

  &:hover {
    background-color: $background-color-hover;
  }

  &.active {
    background-color: $primary-color;
    color: $font-color-white;
  }
}
.custom-inputCercaCasa {
  background-color: #f8f9fa;
  border: 1px solid $primary-color;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
    border-color: #80bdff;
  }
}

.searchCercaCasaButton {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
.bottoneDettagliCercaCasaCard {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.coloreTitoloCercaCasa {
  color: $primary-color;
}

//V       V EEEEE  N   N DDDD   I  CCCCC   A   SSSSS   A   PPPPP   A   GGGG  EEEEE
// V     V  E      NN  N D   D  I  C      A A  S      A A  P   P  A A  G     E
//  V   V   EEEE   N N N D   D  I  C     AAAAA  SSS  AAAAA PPPPP AAAAA G  GG EEEE
//   V V    E      N  NN D   D  I  C     A   A     S A   A P     A   A G   G E
//    V     EEEEE  N   N DDDD   I  CCCCC A   A SSSSS A   A P     A   A  GGG  EEEEE

.custom-inputVendiCasa {
  background-color: #f8f9fa;
  border: 1px solid $primary-color;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
    border-color: #80bdff;
  }
}

.borderVendiCasa {
  border-bottom: 2px solid $primary-color;
}

.coloreTitoloVendiCasa {
  color: $primary-color;
}

.vendiCasaPageButton {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

// GGGG   EEEE  SSSSS TTTTTT  III  OOO  N   N EEEE  III MMMMM MMMMM  OOO  BBBB  III LLL III
// G      E     S       TTT   III O   O NN  N E     III MM  M MM  M O   O B   B III LLL III
// G   GG EEEE   SSS    TTT   III O   O N N N EEEE  III MM  M MM  M O   O BBBB  III LLL III
// G    G E         S   TTT   III O   O N  NN E     III MM  M MM  M O   O B   B III LLL III
//  GGGG  EEEE  SSSS    TTT   III  OOO  N   N EEEE  III MM  M MM  M  OOO  BBBB  III LLL III

.dettagliGestioneImmobiliButton {
  background-color: $primary-color;
  color: $font-color-white;
  &:hover {
    background-color: $background-color-hover;
  }
}
.modificaGestioneImmobiliButton {
  background-color: $primary-color;
  color: $font-color-white;
  &:hover {
    background-color: $background-color-hover;
  }
}
.cancellaGestioneImmobiliButton {
  background-color: $delete-color;
  color: $font-color-white;
  border: none;
  &:hover {
    background-color: $anotherdelete-color;
  }
}
.aggiungiNuovoImmobileButton {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.titoloGestioneImmobili {
  color: $primary-color;
  font-weight: 700;
}

.tornaGestioneImmobiliButton {
  background-color: $primary-color;
  color: $font-color-white;
  padding-inline: 60px;
  &:hover {
    background-color: $background-color-hover;
  }
}

// DDDD   EEEEEEE TTTTTTTT TTTTTTTT  AAAAA   GGGGG  L     IIII  PPPPPP  AAAAA  GGGGG   EEEEEEE
// D   D  EE         TT       TT     A   A  GG      L      II   PP   PP A   A  GG      EE
// D   D  EEEE       TT       TT     AAAAA  GG  GGG L      II   PPPPPP  AAAAA  GG  GGG EEEE
// D   D  EE         TT       TT     A   A  GG   GG L      II   PP      A   A  GG   GG EE
// DDDD   EEEEEEE    TT       TT     A   A   GGGGG  LLLLL IIII  PP      A   A   GGGGG  EEEEEEE

.dettagliPageCarousel {
  border: 1px solid $primary-color;
}

.descrizioneDettagliPage {
  border: 1px solid $primary-color;
  border-radius: 50px;
}

.cardDettagliPage {
  border: 1px solid $primary-color;
  border-radius: 50px;
  div {
    border-top: 1px solid $primary-color;
    div {
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}

.titoloDettagliPage {
  color: $primary-color;
  font-weight: 700;
}

//  CCCCC RRRRR  EEEEEEE  AAAAA   IIII  MM  MM MM  MM  OOOOO  BBBBBB  IIII  L     EEEEEEE
//  C     R    R EE      A     A   II   M MM M M MM M OO   OO B    B   II   L     EE
//  C     RRRRR  EEEE    AAAAAAA   II   M    M M    M OO   OO BBBBB    II   L     EEEE
//  C     R   R  EE      A     A   II   M    M M    M OO   OO B    B   II   L     EE
//  CCCCC R    R EEEEEEE A     A  IIII  M    M M    M  OOOOO  BBBBBB  IIII  LLLLL EEEEEEE

.titoloCreaImmobile {
  color: $primary-color;
  font-weight: 700;
}

.immaginiCreaImmobile {
  color: $primary-color;
  font-weight: 700;
}

.formAggiungiImmobile {
  input,
  select,
  textarea {
    background-color: #f8f9fa;
    border: 1px solid $primary-color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    &:focus {
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
      border-color: #80bdff;
    }
  }
}

.bottoneInserisciImmobile {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
.customFileCreaImmobile {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  &:hover {
    background-color: $background-color-hover;
  }
}

.bottoneRimuoviCreaImmobile {
  background-color: $delete-color;
  color: $font-color-white;
  &:hover {
    background-color: $anotherdelete-color;
  }
}

// MM  MM  OOOOO  DDDDD  IIII  FFFFFF IIII CCCCC   AAAAA   IIII  MM  MM MM  MM  OOOOO  BBBBBB  IIII  L     EEEEEEE
// M MM M OO   OO D   D   II   FF      II  C      A     A   II   M MM M M MM M OO   OO B    B   II   L     EE
// M    M OO   OO D   D   II   FFFF    II  C      AAAAAAA   II   M    M M    M OO   OO BBBBB    II   L     EEEE
// M    M OO   OO D   D   II   FF      II  C      A     A   II   M    M M    M OO   OO B    B   II   L     EE
// M    M  OOOOO  DDDDD  IIII  FF     IIII CCCCC  A     A  IIII  M    M M    M  OOOOO  BBBBBB  IIII  LLLLL EEEEEEE

.titoloModificaImmobile {
  color: $primary-color;
  font-weight: 700;
}

.bottoneSalvaModificaImmobile {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.bottoneCaricaModificaImmobile {
  background-color: $primary-color;
  color: $font-color-white;
  padding-inline: 40px;
  &:disabled {
    background-color: grey;
  }
}

.bottoneImpostaCopertinaModifica {
  background-color: $primary-color;
  color: $font-color-white;
  &:hover {
    background-color: $background-color-hover;
  }
}

.copertinaImpostata {
  color: $primary-color;
  font-weight: 700;
  font-size: 1.3rem;
}

.bottoneRimuoviModificaImmobili {
  background-color: $delete-color;
  color: $font-color-white;
  &:hover {
    background-color: $anotherdelete-color;
  }
}

.formModificaImmobile {
  input,
  select,
  textarea {
    background-color: #f8f9fa;
    border: 1px solid $primary-color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    &:focus {
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
      border-color: #80bdff;
    }
  }
}

.scegliFileModificaImmobile {
  display: none;
}

.customFileModificaImmobile {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border-radius: 4px;
  &:hover {
    background-color: $background-color-hover;
  }
}

// GGGGG   EEEEEEE SSSSSSS  TTTTTTTT IIII  OOOOO   NNN   NN EEEEEEE U   U TTTTTTTT EEEEEEE N   N TTTTTTTT IIII
// GG      EE      SS          TT     II  OO   OO  NN N  NN EE      U   U    TT    EE      NN  N    TT     II
// GG  GGG EEEE    SSSSSSS     TT     II  OO   OO  NN  N NN EEEE    U   U    TT    EEEE    N N N    TT     II
// GG   GG EE            SS    TT     II  OO   OO  NN   NNN EE      U   U    TT    EE      N  NN    TT     II
//  GGGGG  EEEEEEE  SSSSSSS    TT    IIII  OOOOO   NN    NN EEEEEEE  UUU     TT    EEEEEEE N   N    TT    IIII

.aggiungiNuovoUtenteButton {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.tableCustomGestioneUtenti {
  thead th {
    background-color: $primary-color;
    color: white;
    border: 2px solid $primary-color;
  }

  tbody {
    border: 1px solid $primary-color;
    td {
      background-color: #ffffff;
      color: #333;
    }
  }
}

.modificaGestioneUtentiButton {
  background-color: $primary-color;
  color: $font-color-white;
  padding-inline: 40px;
  &:hover {
    background-color: $background-color-hover;
  }
}

.cancellaGestioneUtentiButton {
  background-color: $delete-color;
  color: $font-color-white;
  padding-inline: 40px;
  border: none;
  &:hover {
    background-color: $anotherdelete-color;
  }
}

// MM  MM  OOOOO  DDDDD  IIII  FFFFFF IIII CCCCC   AAAAA   U   U TTTTTTTT EEEEEEE N   N TTTTTTTT EEEEEEE
// M MM M OO   OO D   D   II   FF      II  C      A     A  U   U    TT    EE      NN  N    TT    EE
// M    M OO   OO D   D   II   FFFF    II  C      AAAAAAA  U   U    TT    EEEE    N N N    TT    EEEE
// M    M OO   OO D   D   II   FF      II  C      A     A  U   U    TT    EE      N  NN    TT    EE
// M    M  OOOOO  DDDDD  IIII  FF     IIII CCCCC  A     A   UUU     TT    EEEEEEE N   N    TT    EEEEEEE

.formModificaUtente {
  input,
  select,
  textarea {
    background-color: #f8f9fa;
    border: 1px solid $primary-color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    &:focus {
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
      border-color: #80bdff;
    }
  }
}

.customFileModificaUtente {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border-radius: 4px;
  &:hover {
    background-color: $background-color-hover;
  }
}

.bottoneAggiornaUtente {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

//  CCCC  RRRRR   EEEEE   AAAAA  U   U  TTTTTTT EEEEE  N   N  TTTTT  EEEEE
// C      R    R  E      A     A U   U     T    E      NN  N    T    E
// C      RRRRR   EEEE   AAAAAAA U   U     T    EEEE   N N N    T    EEEE
// C      R   R   E      A     A U   U     T    E      N  NN    T    E
//  CCCC  R    R  EEEEE  A     A  UUU      T    EEEEE  N   N    T    EEEEE

.titoloCreaUtente {
  color: $primary-color;
  font-weight: 700;
}

.formCreaUtente {
  input,
  select,
  textarea {
    background-color: #f8f9fa;
    border: 1px solid $primary-color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    &:focus {
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
      border-color: #80bdff;
    }
  }
}

.bottoneCreaUtente {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.customFileCreaUtente {
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border-radius: 4px;
  &:hover {
    background-color: $background-color-hover;
  }
}

// GGGGG   EEEEEEE SSSSSSS TTTTTTTT IIII  OOOOO   NNN   NN EEEEEEE V   V AAAAA  L     U   U TTTTTTTT AAAAA  ZZZZZZZ IIII  OOOOO  N   N IIII
// GG      EE      SS         TT     II  OO   OO  NN N  NN EE      V   V A   A  L     U   U    TT    A   A        Z  II  OO   OO NN  N  II
// GG  GGG EEEE    SSSSSSS    TT     II  OO   OO  NN  N NN EEEE     V V  AAAAA  L     U   U    TT    AAAAA      Z    II  OO   OO N N N  II
// GG   GG EE           SS    TT     II  OO   OO  NN   NNN EE        V   A   A  L     U   U    TT    A   A    Z      II  OO   OO N  NN  II
//  GGGGG  EEEEEEE SSSSSSS    TT    IIII  OOOOO   NN    NN EEEEEEE   V   A   A  LLLLL  UUU     TT    A   A  ZZZZZZZ IIII  OOOOO  N   N IIII

.titoloGestioneValutazioni {
  color: $primary-color;
  font-weight: 700;
}

.tableCustomGestioneValutazioni {
  thead th {
    background-color: $primary-color;
    color: white;
    border: 2px solid $primary-color;
  }

  tbody {
    td {
      border: 1px solid $primary-color;
      background-color: #ffffff;
      color: #333;
    }
  }
}

.modificaGestioneValutazioniButton {
  background-color: $primary-color;
  color: $font-color-white;
  padding-inline: 40px;
  &:hover {
    background-color: $background-color-hover;
  }
}

.cancellaGestioneValutazioniButton {
  background-color: $delete-color;
  color: $font-color-white;
  padding-inline: 40px;
  border: none;
  &:hover {
    background-color: $anotherdelete-color;
  }
}

// DDDD   EEEEEEE  TTTTTTT  TTTTTTT  AAAAA  GGGGG  L       IIIII V   V AAAAA  L     U   U TTTTTTTT AAAAA  ZZZZZZZ IIIII OOOOO  N   N  EEEEEEE
// D   D  EE          T        T    A   A GG   GG L         II   V   V A   A  L     U   U    TT    A   A        Z  II   OO   OO NN  N  EE
// D   D  EEEE        T        T    AAAAA GG      L         II    V V  AAAAA  L     U   U    TT    AAAAA      Z   II   OO   OO N N N  EEEE
// D   D  EE          T        T    A   A GG   GG L         II     V   A   A  L     U   U    TT    A   A    Z     II   OO   OO N  NN  EE
// DDDD   EEEEEEE     T        T    A   A  GGGGG  LLLLL  IIIII     V   A   A  LLLLL  UUU     TT    A   A  ZZZZZZZ IIIII  OOOOO  N   N  EEEEEEE

.containerDettagliValutazione {
  border: 2px solid $primary-color;
}

.titoloDettagliValutazione,
.sottoTitoloDettagliValutazione {
  color: $primary-color;
  font-weight: 700;
}
.sottoTitoloDettagliValutazione {
  border-top: 1px solid $primary-color;
}

.customBadgeDettagliValutazioni {
  background-color: $primary-color !important;
  color: $font-color-white;
  padding: 0.5rem 1rem;
}
.customBadgeDisattivatoDettagliValutazioni {
  background-color: $anotherdelete-color !important;
  color: $font-color-white;
  padding: 0.5rem 1rem;
}

.bottoneCambiaStatoDettagliValutazione {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.bottoneTornaListaDettagliValutazione {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

// L      OOO   GGGG  IIII N   N
// L     O   O G       II  NN  N
// L     O   O G  GG   II  N N N
// L     O   O G   G   II  N  NN
// LLLLL  OOO   GGGG  IIII N   N

.titoloLogin {
  color: $primary-color;
  font-weight: 700;
}

.bottoneLogin {
  background-color: white;
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.formLogin {
  input,
  select,
  textarea {
    background-color: #f8f9fa;
    border: 1px solid $primary-color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    &:focus {
      box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
      border-color: #80bdff;
    }
  }
}

// MM  MM  OOOOO  DDDDD   AAAAA  L     EEEEEEE
// M MM M OO   OO D   D  A     A L     EE
// M    M OO   OO D   D  AAAAAAA L     EEEE
// M    M OO   OO D   D  A     A L     EE
// M    M  OOOOO  DDDDD  A     A LLLLL EEEEEEE

.bottoneCancellaModale {
  background-color: $delete-color;
  color: $font-color-white;
  border: none;
  &:hover {
    background-color: $anotherdelete-color;
  }
}

// FFFFF  OOO   OOO  TTTTT  EEEEE  RRRR
// F     O   O O   O   T    E      R   R
// FFF   O   O O   O   T    EEEE   RRRR
// F     O   O O   O   T    E      R  R
// F      OOO   OOO    T    EEEEE  R   R

.footerPeso {
  font-weight: 700;
  font-size: 1.4rem;
}

.footerContainer {
  p {
    font-size: 1rem;
  }
}
